<html>
<!-- Head tag -->
<%- partial('_partial/head') %>

<body class="bg-black white adelle fl w-100">

	<!-- Menu -->
    <%- partial('_partial/menu') %>
    <div class="container">
        <!-- Blog Header: title and subtitle -->
        <%- partial('_partial/header') %>
		
		<!-- Main Content -->
        <div class="lh-copy ph4 ph5-ns ph7-l pv6 fw1">
            <%- body %>
        </div>
    </div>
    
 	<!-- Footer -->
    <%- partial('_partial/footer') %>
    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
</body>
</html>